body {
    margin-top: 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.contactMe {
    margin-top: 1rem;
    text-align: center;
}

.skillBadges, h3 {
    margin-bottom: 1.5rem;
}

.card-deck, .greenAlert {
    margin-bottom: .5rem;
}